.c-drumkit {
  display: block;
  padding: 0 10px;
  height: 100%;
  text-align: center;

  &__heading {
    padding: (1rem * $b-l-h) 0;
  }
}

@media only screen and (min-width: 375px) {
  .c-drumkit__heading {
    padding: (2rem * $b-l-h) 0;
  }
}

@media only screen and (min-width: 600px) {
  .c-drumkit__heading {
    padding: (3rem * $b-l-h) 0;
  }
}
