.o-btn {
  display: inline-block;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  width: 6.854rem;
  height: 6.854rem;
  border: 4px solid $purple;
  background: $white-01;
  transition: transform 0.1s ease-out;

  &--orange {
    border-color: $orange;
  }

  &--grey {
    border-color: $light-grey;
  }

  &__kbd {
    display: block;
    font-family: $font-stack2;
    font-weight: bold;
  }

  &:hover {
    border-color: $cyan;
  }

  &:focus {
    border-color: $cyan;
    outline: 3px solid $cyan;
  }

  &:active,
  &.is-active {
    background: $cyan;
    color: $grey;
    border-color: $cyan;
    outline: none;
  }
}
