.l-sound-btn-list {
  list-style-type: none;
  padding-left: 0.4em;
  padding-bottom: $b-l-h * 1rem;

  &__item {
    display: inline-block;
    margin-bottom: 0.4em;
    margin-right: 0.4em;
  }
}

.l-wrapper {
  width: 300px;
  width: min-content;
  margin: 0 auto;
}
