$color-js: #ffe024;
$color-html: #ff5900;
$color-redux: #7d48b4;
$color-react: #00e0fd;
$grey: rgb(46, 45, 45);
$white: #fff;
$white-01: rgba(255, 255, 255, 0.1);
$black: #000;

// .u-border-html {
//   color: $color-html !important;
// }
